<div style="width: 40%; float:left; padding-top: 50px;"><%= image_tag @power_generator.image_url %></div>

<div style="width: 55%; float:right; padding-top: 100px;">
  <h2><%= @power_generator.name.upcase %></h2>
  <h3><%= number_to_currency(@power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></h3>
  <p><strong>Descrição: </strong><%= @power_generator.description %></p><br/>

  <%= form_with url: power_generator_delivery_tax_path(@power_generator.id), local: true do |f| %>
    <%= f.label :zip_code, 'Informe seu CEP' %>
    <%= f.number_field :zip_code %>
    <%= f.submit 'Calcular Frete' %>
  <% end %>

  <% if @cost %>
    Valor do Frete: <%= number_to_currency(@cost, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %>
  <% end %>
</div>
