<div class="header">
  <%= link_to image_tag('ps_logo.png', class: 'logo'), root_path %>
  <div class="header__title">Geradores de Energia</div>
</div>

<div class="searcher gradient">
  <%= form_with url: simple_search_path, local: true, class: 'form-inline my-2 my-lg-0', method: :get do %>
    <%= label_tag :simpleSearch, 'O que você procura?' %><br/>
    <%= text_field_tag :simpleSearch, nil, placeholder: 'O que você procura?' %><br/>
    <div class="btn">
      <%= submit_tag 'Pesquisa Simples', class:"btn btn-outline-primary btn-lg" %><br/>
    </div>
  <% end %>

  <%= form_with url: advanced_search_path, local: true, class: 'form-inline my-2 my-lg-0', method: :get do %>
    <%= label_tag :advancedSearch, 'Informe a quantidade de kWh consumida em um mês' %><br/>
    <%= number_field_tag :advancedSearch, nil, placeholder: 'Ex: 666' %><br/>
    <div class="btn">
      <%= submit_tag 'Pesquisa Avançada', class:"btn btn-outline-primary btn-lg" %><br/>
    </div>
  <% end %>
</div>